<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Guessing Game</title>
    <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="/css/bootstrap.min.css">
    
  </head>
  <body class="container-fluid">
    <h1>Guessing game</h1>
    {{if not .Guessed}}
      <a href="/guess/?newgame=1" class="btn btn-primary"  role="button">New Game</a>
      <br><br>
      <h2>{{.Message}}</h2>
      
      <form action="/guess/" method="POST" id="guessForm">
        <div class="input-group">
            <input type="text" name="guess" class="form-control">
          <span class="input-group-btn">
            <input type="submit" value="Guess" class="btn btn-default">
          </span>
        </div>
      </form>
    {{end}}
    {{if .GuessMessage}}{{.GuessMessage}}{{end}}
    {{if .Guessed}}<a href="/guess/?newgame=1"  class="btn btn-primary"  role="button">Start new game</a>{{end}}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- Load custom script -->
    <script src="/js/custom.js"></script>
  </body>
</html>